.epg_row {
    width: max-content;
    height: $epg_row_height;

    background-color: $primary-color;
    position: relative;
        .schedule_entry {
            height: 100%;

            display: inline-block;

            box-shadow: inset 0px 0px 0px 1px $secondary-color;

            .title {
                margin-left: 1rem;
                margin-top: $epg_row_height/6;
            }

            .duration {
                margin-left: 2rem;
                margin-top: .2rem;
            }

            &.current {
                background-color: $secondary-color;
            }
        }
}