$app_width: 1080px;
$app_height: 720px;

$epg_row_height: 100px;
$channel_column_width: 150px;

$primary_color: #141414;
$secondary_color: #1c1c1c;

$timeslot_distance: 500px;

$button_size: 80px;

:export {
    app_width: $app_width;
    app_height: $app_height;
    epg_row_height: $epg_row_height;
    channel_column_width: $channel_column_width;
    timeslot_distance: $timeslot_distance;
    button_size: $button_size;
}